@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
@import 'reset';
:root {
    
}

body {

    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-size: 1.6rem;

   
}

button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;

}

